<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Scan2Hire</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires location access in the foreground to verify you are at the office.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
    <array>
    <string>UIInterfaceOrientationPortrait</string>
    </array>

    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
    <string>UIInterfaceOrientationPortrait</string>
    </array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>This app requires camera access to take your check-in selfie.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires photo library access to upload your profile picture.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires location access in the background to verify proximity and track work sessions.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app requires location access always to verify office presence when running in the background.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-ExtraLight.ttf</string>
		<string>DMSans-Black.ttf</string>
		<string>DMSans-ExtraBold.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-Light.ttf</string>
		<string>DMSans-Thin.ttf</string>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans-SemiBold.ttf</string>
		<string>Inter_18pt-SemiBold.ttf</string>
		<string>Inter_18pt-ExtraBold.ttf</string>
		<string>Inter_18pt-Italic.ttf</string>
		<string>Inter_18pt-Thin.ttf</string>
		<string>Inter_18pt-Light.ttf</string>
		<string>Inter_18pt-Regular.ttf</string>
		<string>Inter_18pt-Medium.ttf</string>
		<string>Inter_18pt-Black.ttf</string>
		<string>Inter_18pt-Bold.ttf</string>
		<string>Inter_18pt-ExtraLight.ttf</string>
	</array>
</dict>
</plist>
